
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Magister - Free html5 template by GetTemplate</title>

    <link rel="shortcut icon" href="~/assets/images/gt_favicon.png">

    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="~/css/magister.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

    <nav class="mainmenu">
        <div class="container">
            <div class="dropdown">
                <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="#head" class="active">Hello</a></li>
                    <li><a href="#team">The Team</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--^^^^THIS ONE WORKS NO TOUCHIE-->
    <!-- Main (Home) section -->
    <section class="section" id="head">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center landingBox">

                    <!-- Site Title, your name, HELLO msg, etc. -->
                    <h1 class="title">AQA Commute</h1>
                    <h2 class="subtitle">Your Personal Air Quality Analyst</h2>

                    <!-- Short introductory (optional) -->
                    <h3 class="tagline">
                        We track your commute's air quality impact so the hard work is done for you.<br />
                        Your Air Quality Analyst takes your awareness that the environment is in trouble<br />
                        and helps you take action to minimize your affect.
                    </h3>

                    <!-- Nice place to describe your site in a sentence or two -->
                    <p><a href="/download/" class="btn btn-default btn-lg" id="btn1">Login or Register</a><a href="/download/" class="btn btn-default btn-lg" id="btn2">Continue as Guest</a></p>

                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>
    <!--^^^^^IT WORKS NO TOUCHIE-->

    <!-- Second (Team) section -->
    <section class="section" id="team">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-2 col-xs-6 col-md-4 text-center landingBox">
                    <img style="border-radius:50%;width:40%;height:40%" src="~/assets/images/Kevin.jpg" />
                    <h3>Kevin Gilfether</h3>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="col-xs-6 col-md-4 text-center landingBox">
                    <img style="border-radius:50%;width:40%;height:400%" src="~/assets/images/Alexandria Ware (3).jpg" />
                    <h3>Alexandria Ware</h3>
                    <p>Lorem Ipsum</p>
                </div> <!-- /col -->
            </div> <!-- /row -->

            <div class="row">
                <div class="col-md-offset-2 col-xs-6 col-md-4 text-center landingBox">
                    <img style="border-radius:50%;width:40%;height:40%" src="~/assets/images/Roy.jpg" />
                    <h3>Roy Ernst</h3>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="col-xs-6 col-md-4 text-center landingBox">
                    <img style="border-radius:50%;width:40%;height:40%" src="~/assets/images/Brian.jpg" />
                    <h3>Brian Dyko</h3>
                    <p>Lorem Ipsum</p>
                </div> <!-- /col -->
            </div> <!-- /row -->

            <div class="row">
                <div class="col-md-offset-2 col-xs-6 col-md-4 text-center">
                    <img style="border-radius:50%;width:40%;height:40%" src="~/assets/images/Cheria.jpg" />
                    <h3>Cheria White</h3>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <img style="border-radius:50%;width:40%;height:40%" src="~/assets/images/Shane.jpg" />
                    <h3>Shane Moodie</h3>
                    <p>Lorem Ipsum</p>
                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>

    <!-- Third (Works) section -->
    <section class="section" id="themes">
        <div class="container">

            <h2 class="text-center title">More Themes</h2>
            <p class="lead text-center">
                Huge thank you to all people who publish<br>
                their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
            </p>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="thumbnail">
                        <img src="~/assets/screenshots/sshot1.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/assets/screenshots/sshot4.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="thumbnail">
                        <img src="~/assets/screenshots/sshot5.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/assets/screenshots/sshot3.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Fourth (Contact) section -->
    <section class="section" id="contact">
        <div class="container">

            <h2 class="text-center title">Get in touch</h2>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="lead">Have a question about this template, or want to suggest a new feature?</p>
                    <p>Feel free to email me, or drop me a line in Twitter!</p>
                    <p><b>gt@gettemplate.com</b><br><br></p>
                    <ul class="list-inline list-social">
                        <li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                        <li><a href="https://github.com/pozhilov" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
                        <li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>


    <!-- Load js libs only when the page is loaded. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="~/js/magister.js"></script>
</body>
</html>